__pycache__
build
dist
.pytest_cache
_LOCAL_LEO
*.spec
*.swp
*.pyc
.tox
.ipynb_checkpoints/
*.egg-info
htmlcov
coverage.xml
.coverage*
.vscode
pip-wheel-metadata
*Thumbs.db
*.DS_Store
*.idea
.mypy_cache/
junit.xml
.vscode-server
